<p id="notice"><%= notice %></p>

<div class="page-header">
  <div class="container">
    <h1>
      Dashboards
      <small class="pull-right">
        <%= button_to new_dashboard_path, {class: "btn btn-primary",:method => :get} do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </small>
    </h1>
  </div>
</div>

<% if @dashboards.present? %>
  <table class="table">
   <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>
      </tr>
    </thead>
    <% @dashboards.each do |dashboard| %>
    <tbody>
      <tr>
        <td width='20%'><h4><%= link_to dashboard.name, dashboard %></h4></td>
        <td width='80%'><h4><small><%= dashboard.description %></small></h4></td>
      </tr>
    </tbody>
    <% end %>
  </table>
<% end %>
