// Place all the styles related to the SysInfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color: #000;
	color: #04e0ff;
	font-family: sans-serif;
	font-weight: 900; 	
}