.widget{
	border: 1px solid #222222;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	width: 400px;
	height: 200px;
}

.draggable{
	z-index: 1000
}

.widget-title{
	color:#9d9d9d;
	background: #222222;
	position: inherit;
	width:100%;
	height:25px;
	padding:2px;
	span:hover{
		cursor:pointer;
	}
}
.widget-body{
	border: 1px solid #222222;
	background: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: inherit;;
	top: 24px;
	left: 5px;
	right: 5px;
	bottom: 10px;
}